:root {
  --primary01: hsl(35, 77%, 62%);
  --primary02: hsl(5, 85%, 63%);
  --neutral01: hsl(36, 100%, 99%);
  --neutral02: hsl(233, 8%, 79%);
  --neutral03: hsl(236, 13%, 42%);
  --neutral04: hsl(240, 100%, 5%);
}



body {
  min-height: 100vh;
  padding: 1rem 1rem;
  font-family: 'Inter';
  font-size: 0.9375rem;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 40px;
}

.nav-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100%;
  z-index: 5;
  padding-top: 3rem;
  background-color: var(--neutral01);
}

.hamburguer-menu-close {
  margin-left: auto;
  padding-right: 0.5rem;
}


.nav-manu__list {
  display: grid;
  list-style-type: none;
  gap: 1.5rem;
  padding-left: 1rem;
}

.nav-manu__list a {
  text-decoration: none;
  color: var(--neutral04);
  font-size: 1.1rem;
  font-weight: 400;
}

.hamburguer-menu {
  width: 2rem;
  height: 1rem;
}

.articleWeb3 {
  display: grid;
  gap: 1.3rem;
}

.articleWeb3-img {
  margin-top: 1.5rem;
}

.articleWeb3-h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-right: 0.5rem;
}

.articleWeb3-p {
  color: var(--neutral03);
}

.articleWeb3-button {
  color: var(--neutral01);
  margin-top: 1.3rem;
  text-transform: uppercase;
  background-color: var(--primary02);
  padding: 0.7rem 1.5rem;
  border-style: inherit;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: 500;
}

.articleWeb3-button:hover {
  background-color: brown;
}

.aside-container {
  margin-top: 4rem;
  background-color: var(--neutral04);
  padding-left: 2rem;
}

.aside-new {
  font-size: 2.3rem;
  padding-top: 2rem;
  color: var(--primary01);
  
}

.aside-article p a{
  color: var(--neutral01);
  text-decoration: none;
}